@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital@1&family=Sofia&display=swap');

body{
    background: #ECE9E6;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
    
}
/* PANTALLA DE CARGA------------------------------------------------------------------- */
.contenedor_loader{
    background-color: #f3f3f3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader,.loader:before,.loader:after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}

.loader{
    color: rgb(29, 106, 76);;
    font-size: 13px ;
    position: relative;
    animation-delay:-0.16s ;
}
.loader:before,.loader:after{
    content: ' ';
    position: absolute;
    top:0;
}

.loader:before{
    left:-3.5em;
    animation-delay: -0.32s;

}
.loader:after{ 
    left: 3.5em;
}

@keyframes loader {
    0%,
    80%,
    100%{
        box-shadow:0 2.5em 0 -1.3em;
    }
    40%{
        box-shadow:0 2.5em 0 0;
    }
}

/*--------------------------------------------------------------------------------------*/

.carga{
    text-align: center; display: flex;flex-direction: column;
}

.hcarg{
    height: 150px;
      width: 375px;
}


/* ----------------------------------------------------------------------------------- */
.header{
    background: #093028; 
    background: -webkit-linear-gradient(to right, #237A57, #093028);  
    background: linear-gradient(to right, #237A57, #093028);
    padding-left: 1rem;
    padding-right: 1rem;
}
@media (max-width: 650px){
    .contacto{
        display: none;
    }
    .logo,.ingreso{
        text-align: center!important;
    }
    .nuevo{
        display: none;
    }
    .nuevo-min{
        display: block;
    }
    .map-info{
        display: none;
    }
}
@media (min-width: 650px){
    .nuevo-min{
        display: none;
    }
}


/* ----------------------------------------------------------------------------------- */
.logito{
    height: 75px;
    width: 187.5px;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
}
.nav{
    background: #093028; 
    background: -webkit-linear-gradient(to right, #237A57, #093028);  
    background: linear-gradient(to right, #237A57, #093028); 
}
.letraNav{
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.contac-nav{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.contact a:link, a:visited, a:active {
    text-decoration:none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/

.titu{
    color: rgb(29, 106, 76);
    font-weight: bold
}
.tarjetas{
    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(106,166,86,1) 0%, rgba(108,153,93,0.7794468129048494) 90%); */

    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
    
    border-radius: 10px;
    box-shadow: 0px 0px 20px 7px grey;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
.font_image{
    background-image: url(../images/carousel/imagen1.jpg);
}
.font_white{
    background-color:rgb(121, 119, 119);
    background-blend-mode: soft-light;
}
.mas{
    background-color: rgb(29, 106, 76);
    color: white;
}
.mas:hover{
    background-color: rgb(29, 106, 76);
    color: white;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

.text-large{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------ */
.font-warranty{
    /* background: #093028; 
    background: -webkit-linear-gradient(to right, #237A57, #093028); 
    background: linear-gradient(to right, #237A57, #093028);  */

    background: #bdc3c7;  
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  
    background: linear-gradient(to right, #2c3e50, #bdc3c7); 
    
}
.text-large2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bolder;
    color: white;
}

.text-large3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

/* ----------------------------------------------------------------------------------------- */
.footer{
    background: #093028;  
    background: -webkit-linear-gradient(to right, #237A57, #093028);  
    background: linear-gradient(to right, #237A57, #093028); }

.p1-title{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bolder;
}
.p1{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    color: white;
}

/*-----------------------------------------------------------------------------------------*/
.nuevo{
    position: fixed;
    bottom: 10PX;
    right: 10PX;
    border: 5px solid firebrick;
    border-radius: 30px;
    padding-right: 5px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
.nuevo-min{
    position: fixed;
    bottom: 10PX;
    right: 10PX;
    border: 5px solid firebrick;
    border-radius: 30px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.ws{
    width:50px;
    margin-right: 5px;    
}
.ws-min{
    width:50px;  
}
/*Productos--------------------------------------------------------------------------------------*/







/*Servicios------------------------------------------------------------------------------*/
.font_image-s3{
    background-image: url(../images/carousel/imagen3.jpg);
    
}
.font_white-s3{
    background-color:rgb(95, 92, 92);
    background-blend-mode: soft-light;
}
.yellow-section{
    color: black;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(106,166,86,1) 0%, rgba(108,153,93,0.7794468129048494) 90%);
    
}
.btn-section{
    display: inline-block;
    background: #237A57;
    color: #fff;
    cursor: pointer;
    text-align: center;
   
}
/*Contactenos--------------------------------------------------------------------------------------*/

.map-info{
    position: absolute;
    max-width: 400px;
    padding: 25px;
    top: 10%;
    left: 10%;
    color: #fff;
   background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(106,166,86,1) 0%, rgba(108,153,93,0.7794468129048494) 90%);

}

.font_image-s5{
    background-image: url(../images/carousel/imagen1.jpg);
}
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    color: #718090;
    border: none;
    border-bottom: 5px solid rgba(106,166,86,1);
    margin-bottom: 25px;
    background: #f7fafd;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-bottom: 5px solid #000;
  }
  
  .contact-form textarea {
    height: 250px;
    resize: none;
  }

  .btn-form{
    display: inline-block;
    background: rgba(106,166,86,1);
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
}


